<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!--<appender name="CLOUD" class="com.google.cloud.logging.logback.LoggingAppender">-->
		<!--<filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
			<!--<level>INFO</level>-->
		<!--</filter>-->
		<!--<log>madmin</log>-->
		<!--<resourceType>global</resourceType>-->
		<!--<enhancer>com.exam.utils.ExampleEnhancer</enhancer>-->
		<!--<flushLevel>INFO</flushLevel>-->
	<!--</appender>-->

	<!--<root level="debug">-->
		<!--<appender-ref ref="CLOUD" />-->
	<!--</root>-->

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>